@import "./styles/variableColor";
@import "./styles/variableScreen";
@import "./styles/fonts";
@import "./styles/button";
@import "./styles/base";
@import "./styles/id";
@import "./styles/class";
@import "./styles/burgerBtn";
@import "./styles/main";
@import "./styles/bulletJournal";
@import "./styles/_btnPika";