@import "./styles/base";
@import "./styles/fonts";
@import "./styles/button";

// ID
#portfolio, #cv, #contact {
    display: none;
}
#about {
    display:block;
}
#burger {
    z-index:2;
}

#navigation {
    position: fixed;
	top: 0;
	left: 0;
	width: 130px;
	height: 100%;
	background: #2B2934;
	display: flex;
    justify-content: space-between;
    padding: 40px 0;
}

#navigation ul {
    padding-right: 0;
}

#navigation li {
    //display: inline-block;
    list-style: none;
    font-size: 2rem;
    background: #2B2934 ;
    color: #fff ;
    //border: 2px solid #01B3C8 ;
    margin:-1px 0  ;
}

#navigation li a {
    display: block ;
    background: #2B2934 ;
    color: #fff ;
    line-height: 1rem ;
    text-align: center ;
    text-decoration: none ;
    padding: 20px 20px ;
    font-weight: bold;
}

#navigation li a:hover, #navigation li a:active {
    background: #01B3C8 ;
    color:#2B2934;
    text-decoration: none ;
}

#navigation li a:focus {
    background: white;
    color: #2B2934;
    border: none
}

#design {
    display:none;
}
#portfolio {
    padding-bottom: 15px;
}
#portfolio img {
    max-width: 400px;
    cursor: pointer;
}


@media (max-width: 575px) {
    #portfolio img {
        max-width: 250px;
    }
}

#cv img {
    max-width: 500px;
}

@media (max-width: 575px) {
    #cv img {
        max-width: 300px;
    }
}

/*#contact form {
    background-color: #2b2934; 
    padding: 20px; 
    color: white;
    button {
        color: white;
    }
    button:hover {
        color: #2b2934;
        background-color: #01B3C8;
    }
    label {
        font-weight: bold;
    }
}*/

// classe


.drop{
    display: none;
    background-color:#2B2934;
    color: white;
    text-align: center ;
    text-decoration: none ;
    height: 100%;
    font-size: 2rem;
    font-weight: bold;
    ul {
        padding-left: 0;
        line-height: 2rem ;
        .logo {
            margin: 5px;
        }
    }
    li {
        list-style: none;
        text-decoration: none ;

        a {
            display: block ;
            background: #2B2934 ;
            color: #fff ;
            text-decoration: none ;
            padding: 20px 20px ;
        }
    }

}


.logo {
	//display: inline-block;
    color: #fff;
    margin: 0 0 55px  auto;
    cursor: pointer;
}

.logo img {
    height: 80px;
    width: auto;
}

.lienReseaux {
    text-align: left;
    margin-top: 150px;
    color: white;
    font-size: 4rem;
    position: absolute;
    bottom: 13px;
    left: 26px;
}

.lienReseaux a {
    text-decoration: none;
    color: white;
}

.lienReseauxDrop {
    color: white;
    font-size: 4rem;
    padding: 10px;
    a {
        text-decoration: none;
        color: white;
    }
}

.bloctext {
    max-width: 750px;
}

.cv-papier {
    padding-top: 10px;
}

.workContent{
    img {
        max-width:800px;
        margin-bottom: 25px;
    }
    ul {
        list-style: none;
    }
    ul li {
        font-size: 1.7rem;
    }
    ul li::before {
        content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
        color: #01B3C8; /* Change the color */
        font-weight: bold; /* If you want it to be bold */
        display: inline-block; /* Needed to add space between the bullet and the text */
        width: 1em; /* Also needed for space (tweak if needed) */
        margin-left: -1em; /* Also needed for space (tweak if needed) */
    }
    padding-bottom: 35px;
}

@media (max-width: 575px) {
    .workContent img {
        max-width: 250px;
    }
}


form button {
    margin-top: 20px;
}

// Font

main h2, h1 {
    font-size: 5rem;
    margin-bottom: 39px;
    font-weight: bold;
}

@media (max-width: 575px) {
    main h2, h1 {
        font-size: 4rem;
        margin-bottom: 30px;
        font-weight: bold;
    }
}

main h3 {
    font-size: 3rem;
    color: #01B3C8;
    font-weight: bold;
}

@media (max-width: 575px) {
    main h3 {
        font-size: 2.5rem;
        color: #01B3C8;
        font-weight: bold;
    }
}

main p {
    font-size: 1.5rem;
}

label {
    font-size: 1.5rem;
    font-weight: bold;
}

