

* {
	box-sizing: border-box;
}


html {
	font-size: 62.5%;
}

body {

  font: 1rem/1 "Oxygen", sans-serif;

}

header {
  background-color: $primary-color;
}

main {
  padding-left:110px;
  padding-top: 65px;
  color: $primary-color;
  z-index: 1;

}

@media (max-width: 575px) {
  main {
    padding-left: 0;
  }
}
