* {
	box-sizing: border-box;
}


html {
  font-size: 62.5%;
  height: 100%;

}

body {

  font: 1rem/1 "Oxygen", sans-serif;
  height: 100%;

}

header {
  background-color: $primary-color;
}

main {
  padding-left: 140px;
  padding-top: 65px;
  color: $primary-color;
  z-index: 1;
}



@media (max-width: $screen-lg-min) {
  main {
    padding-left: 118px;
  }
}

@media (max-width: $screen-sm-min) {
  main {
    padding-left: 0;
  }
}

