

* {
	box-sizing: border-box;
}


html {
	font-size: 62.5%;
}

body {

  font: 1rem/1 "Roboto", sans-serif;

}

header {
  background-color: #2B2934;
}

main {
  padding-left:170px;
  padding-top: 24px;
  color: #2B2934;
}
