.menu {
    /*position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);*/
    margin: 10px ;
    padding: 5px;
    cursor: pointer;
    transition: 0.5s ease;
    height: 50px;
    .bar {
      width: 45px;
      height: 8px;
      background: #fff;
      //box-shadow: 1px 1px 3px RGBa(0, 0, 0, 0.4);
      border-radius: 2px;
      transition: 0.4s ease;
      &:not(:first-child) {
        margin-top: 8px;
      }
    }
  }
  #btnDropdown {
    position: absolute;
    left: -999px;
    top: -999px;
  }
  #btnDropdown:checked + .menu {
    .bar {
      background: $secondary-color;
      transform: rotatey(180deg) rotatex(360deg);
      &:first-child {
        transform: rotate(-45deg);
        margin-top: 20px;
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        margin-top: -24px;
        transform: rotate(45deg);
      }
    }
  }
  