//boutons

.boutonBlanc {
    background-color: white;
    color: $primary-color;
}

.bouton {
    button {
        list-style: none;
        font-size: 1.7rem;
        background: $primary-color ;
        color: #fff ;
        padding: 10px;
        width: auto;
        text-align: center;
        border: none;
    }
    button:hover{
        background: $secondary-color ;
        color:$primary-color;
        text-decoration: none ;
        cursor: pointer;
    }
    .return {
        padding: 10px 20px;
    }
}

main .bouton {
    margin-bottom: 13px;
} 

.boutonProjet {
    margin-top: 30px;
    a {
        text-decoration: none;
        background: $primary-color ;
        color: #fff ;
        font-size: 1.7rem;
        padding: 10px;
    }
    a:hover {
        background: $secondary-color ;
        color:$primary-color;
    }
}


form button {
    margin-top: 20px;
}


#btnBullet {
    margin-top: 25px;
}