// classe

.loader {
    z-index: 10;
    position: absolute;
    background-color: white;
    width: 100%;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    height: 100%;
    img {
        margin-top: 40%;
        margin-left: 50%;
    }
}

.grid-item {
    position: relative;
}

.drop{
    display: none;
    background-color:$primary-color;
    color: white;
    text-align: center ;
    text-decoration: none ;
    height: 100%;
    font-size: 2rem;
    font-weight: bold;
    ul {
        padding-left: 0;
        line-height: 2rem ;
        .logo {
            margin: 5px;
        }
    }
    li {
        list-style: none;
        text-decoration: none ;

        a {
            display: block ;
            background: $primary-color ;
            color: #fff ;
            text-decoration: none ;
            padding: 20px 20px ;
            cursor: pointer;
        }
    }
}


.logo {
	//display: inline-block;
    color: #fff;
    margin: 0 0 55px  auto;
    cursor: pointer;
    img {
        height: 80px;
        width: auto;
    }
}

@media (max-height: 400px){
    .logo {
        margin: 0 0 20px auto;
    }
}

.lienReseaux {
    color: white;
    font-size: 4rem;
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 0 20px;
    a {
        text-decoration: none;
        color: white;
    }
}


.lienReseauxDrop {
    color: white;
    font-size: 4rem;
    padding: 10px;
    a {
        text-decoration: none;
        color: white;
    }
}

.bloctext {
    max-width: 750px;
}

.cv-papier {
    padding-top: 10px;
}

.workContent{
    padding-bottom: 35px;
    img {
        max-width:100%;
        margin-bottom: 25px;
    }
    ul {
        list-style: none;
        li {
            font-size: 1.7rem;
            &::before {
                content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
                color: $secondary-color; /* Change the color */
                font-weight: bold; /* If you want it to be bold */
                display: inline-block; /* Needed to add space between the bullet and the text */
                width: 1em; /* Also needed for space (tweak if needed) */
                margin-left: -1em; /* Also needed for space (tweak if needed) */
            }
        }
    }
    li {
        margin-top: 5px;
        &:first-child {
            margin-top: 0;
        }
    }
    .bouton {
        margin-top:22px;
    }
}

@media (max-width: $screen-sm-min) {
    .workContent img {
        max-width: 250px;
    }
}

.meaCont {
    max-width: 750px;
}