@font-face {
  font-family: "Roboto";
  src: url("assets/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}



// Font

main {
  h2, h1 {
    font-weight: bold;
    margin-bottom: 39px;
  }
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 4.5rem;
  }
  h3 {
    font-size: 3rem;
    color: $secondary-color;
    font-weight: bold;
    margin-bottom: 10px;
  }
  p {
    font-size: 1.5rem;
    line-height: 1.2;
  }
}

@media (max-width: $screen-sm-min) {
  main {
    h2, h1 {
      font-weight: bold;
    }
    h1 {
      font-size: 4rem;
    }
    h2 {
      font-size: 3.5rem;
      margin-bottom: 30px;
    }
    h3 {
      font-size: 2.5rem;
      color: $secondary-color;
      font-weight: bold;
    }
  }
}


label {
  font-size: 1.5rem;
  font-weight: bold;
}

.emailInp, .titreInp, .messageInp {
  font-size: 1.5rem;
}